.gradient-custom-3 {
    background: #020202;
    background: -webkit-linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(13, 15, 14, 0.5)
    );
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(13, 15, 14, 0.5)
    );
}
.gradient-custom-4 {
    background: #191b1a;
    background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.5), #131618);
    background: linear-gradient(to right, #021107, rgba(0, 0, 0, 0.5));
}
